.header {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.title {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: aliceblue;
}

.logo {
  background-color: rgb(165, 220, 220);
  bottom: 20px;
  right: 20px;
  width: 100px;
  border-radius: 15px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}